{% extends 'base.html' %}

{% block body %}
<div class="login-form">
    <form action="" method="post">
        <h2 class="text-center">افزودن کتاب</h2>
        {% if message %}
            <p style="color: red; text-align: center;">{{ message }}</p>
        {% endif %}
        <p style="text-align: right;"><a href="{{ url_for('manager') }}">پروفایل</a></p>
        <hr style="width:50%; color: khaki;">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="نام کتاب" name="name" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="نویسنده" name="writer" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="تاریخ" name="date" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="نسخه" name="version" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="تعداد" name="count" required="required">
        </div>
        <div class="form-group">
            <select name="type" id="type">
                <option value="source">Source</option>
                <option value="general">General</option>
                <option value="educational">Educational</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">اضافه</button>
        </div>
    </form>
</div>
{% endblock body %}
    