{% extends 'base.html' %}

{% block body %}
<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
<div class="profile1">
    <h3 style="text-align: center;">لیست کتاب‌هایی که زمان تحویل آن‌ها گذشته</h3>
    {% if message %}
            <p style="color: red; text-align: center;">{{ message }}</p>
    {% endif %}
    {% if messages %}
        <p style="color: green; text-align: center;">{{ messages }}</p>
    {% endif %}
    <p style="text-align: right;"><a href="{{ url_for('manager') }}">پروفایل</a></p>
    <hr style="width:50%; color: khaki;">
    {% if data %}
        <table>
            <tr>
                <th>شناسه در مخزن</th>
                <th>پیام</th>
                <th>موفق بودن</th>
                <th>شناسه کاربر در مخزن</th>
                <th>شناسه کتاب در مخزن</th>
                <th>تاریخ درخواست</th>
                <th>تاریخ تحویل</th>
                <th>تحویل داده شده</th>
                <th>تاخیر</th>
            </tr>
            
            {% for row in data %}
                <tr>
                    
                    {% for i in row %}
                        <td>{{ i }}</td>
                    {% endfor %}
                        
                </tr>
            {% endfor %}
                
        </table>
    {% endif %}
    <br>
</div>
{% endblock body %}
    