{% extends 'base.html' %}

{% block body %}
<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>
<div class="profile">
    <h3 style="text-align: center;">کتاب‌های گرفته شده</h3>
    <p style="text-align: right;"><a href="{{ url_for('profile') }}">پروفایل</a></p>
        <hr style="width:50%; color: khaki;">
    <table>
        <tr>
            <th>شناسه عملیات در مخزن</th>
            <th>شناسه کتاب در مخرن</th>
            <th>نام کتاب</th>
            <th>تحویل داده شده</th>
        </tr>
        
        {% for row in data %}
            <tr>
                
                {% for i in row %}
                    <td>{{ i }}</td>
                {% endfor %}
                    
            </tr>
        {% endfor %}
            
    </table>
    <br>
</div>
{% endblock body %}
    