{% extends 'base.html' %}

{% block body %}
<div class="login-form">
    <form action="" method="post">
        {% if success is not none %}
            <p style="color: green; text-align: center;">{{ success }}</p>
        {% endif %}
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="username" required="required" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" required="required" name="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        Don't have account? <a href="{{ url_for('sign_up') }}">Sign up</a>
    </form>
</div>
{% endblock body %}
