{% extends 'base.html' %}

{% block body %}
<div class="profile">
    <h3 style="text-align: center;">{{ nameprof }} : کاربر</h3>
    <hr style="width:50%; color: khaki;">
    <p style="text-align: right;"><a href="{{ url_for('addbook') }}">افزودن کتاب</a></p>
    <p style="text-align: right;"><a href="{{ url_for('delete') }}">حذف کاربر</a></p>
    <p style="text-align: right;"><a href="{{ url_for('accepted') }}">درخواست‌های پذیرفته شده</a></p>
    <p style="text-align: right;"><a href="{{ url_for('getspecbook') }}">لیست افرادی که یک کتاب را گرفته‌اند</a></p>
    <p style="text-align: right;"><a href="{{ url_for('searchuser') }}">جستجوی کاربران</a></p>
</div>
{% endblock body %}
    