{% extends 'base.html' %}

{% block body %}
<div class="login-form">
    <form action="" method="post">
        <h2 class="text-center">Payment</h2>
        {% if message %}
            <p style="color: red; text-align: center;">{{ message }}</p>
        {% endif %}
        <hr style="width:50%; color: khaki;">
        
        <p style="text-align: right;">{{money}} : موجودی فعلی</p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Payment" required="required" name="payment">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Pay</button>
        </div>
    </form>
</div>
{% endblock body %}
    