{% extends 'base.html' %}

{% block body %}
<div class="login-form">
    <form action="" method="post">
        <h2 class="text-center">ثبت نام</h2>
        {% if exception is not none %}
            <p style="color: red; text-align: center;">{{ exception }}</p>
        {% endif %}
        <hr style="width:50%; color: khaki;">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="نام کاربری" required="required" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="گذرواژه" required="required" name="password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="نام" required="required" name="fname">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="نام خانوادگی" required="required" name="surname">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="آدرس" required="required" name="address">
        </div>
        <div class="form-group">
            <select name="role" id="role">
                <option value="student">Student</option>
                <option value="guser">General user</option>
                <option value="professor">Professor</option>
                <option value="manager">Manager</option>
                <option value="booker">Booker</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">ثبت نام</button>
        </div>
        <p style="text-align: right;">از قبل ثبت نام کرده‌اید ؟ <a href="{{ url_for('login') }}"> ورود </a></p>
    </form>
</div>
{% endblock body %}
