{% extends 'base.html' %}

{% block body %}
<div class="login-form">
    <form action="" method="post">
    <h2 class="text-center">جستجوی کاربران</h2>
    {% if message %}
        <p style="color: red; text-align: center;">{{ message }}</p>
    {% endif %}
    {% if messages %}
        <p style="color: green; text-align: center;">{{ messages }}</p>
    {% endif %}
    <hr style="width:50%; color: khaki;">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="نام‌خانوادگی" name="surname">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="نام کاربری" name="username">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">جستجو</button>
        </div>
    </form>
</div>
{% endblock body %}
    